// @import "./partials" ; //!this is an old way to import files 

@use "./partials" as color1;
@use "./partials2" as color2;


.productCard {
    max-width: 600px;
    background-color: color2.$sky;

    a{
        color: color2.$babypink;
        font-size: 2rem;
    }

    h1{
        font-size: 3rem;
        color: color2.$black;
    }
}